<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Voyaging</title>

  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <script th:src="@{/scripts/script.js}" defer></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
<div class="container">
        <div class="row">
          <div class="col-md-6">
            <img
              class="mb-4"
              th:src="@{/images/logo.png}"
              alt=""
              width="720"
              height="570"
            />
          </div>
          <div
            class="col-md-6 min-vh-100 d-flex justify-content-center align-items-center"
          >
            <h4>Welcome to Dashboard!</h4>
          </div>
        </div>
      </div>
    </main>

    <script

    ></script>
  </body>
</html>
