<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Voyaging</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}"  />
    <script th:src="@{/scripts/script.js}" defer></script>
  </head>

  <body>
  <div th:replace="~{fragments/user-header :: header}"></div>

    <section class="booking">
      <img th:src="@{/images/sidi_bousaid.jpg}" class="bg-img" alt="" />
      <div class="container form-body">
        <div class="row">
          <div class="form-holder">
            <div class="form-content">
              <div class="form-items">
                <h3>Book A Unique Place</h3>

                <form
                  th:action="@{/search-result}"
                  th:object="${searchCriteria}"
                  method="get"
                  novalidate
                >
                  <div class="row">
                    <div class="col-md-6">
                      <label for="checkinInput" class="form-label"
                        >Check In</label
                      >
                      <input
                        class="form-control"
                        id="checkinInput"
                        type="date"
                        name="checkin"
                        th:field="*{checkin}"
                        th:value="${searchCriteria.checkin}"
                        onchange="validateCheckin()"
                        required
                      />
                      <div th:if="${#fields.hasErrors('checkin')}" th:errors="*{checkin}" class="error text-warning"></div>


<!--                      <div class="valid-feedback">Check In field is valid!</div>-->
<!--                      <div id="invalidCheckin" class="invalid-feedback">-->
<!--                        Invalid Check In Date-->
<!--                      </div>-->
                    </div>

                    <div class="col-md-6">
                      <label for="checkoutInput" class="form-label"
                        >Check Out</label
                      >
                      <input
                        class="form-control"
                        id="checkoutInput"
                        th:field="*{checkout}"
                        th:value="${searchCriteria.checkout}"
                        onchange="validateCheckout()"
                        type="date"
                        name="checkout"
                        required
                      />

                      <div th:if="${#fields.hasErrors('checkout')}" th:errors="*{checkout}" class="error text-warning"></div>
<!--                      <div class="valid-feedback">-->
<!--                        Check Out field is valid!-->
<!--                      </div>-->
<!--                      <div id="invalidCheckout" class="invalid-feedback">-->
<!--                        Invalid Check Out Date-->
<!--                      </div>-->
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label for="numberRooms" class="form-label"
                        >Rooms</label
                      >
                      <input class="form-control"
                             type="number"
                             id="numberRooms"
                             th:field="*{nbRooms}"
                             th:value="${searchCriteria.nbRooms}"
                             name="nbRooms"
                             min="1"
                             max="4"
                             required
                      >
                      <div th:if="${#fields.hasErrors('nbRooms')}" th:errors="*{nbRooms}" class="error text-warning"></div>
<!--                      <div id="invalidRooms" class="invalid-feedback">-->
<!--                        Invalid Rooms Number-->
<!--                      </div>-->
                    </div>
                    <div class="col-md-6">
                      <label for="numberGuests" class="form-label"
                        >Guests</label
                      >
                      <input class="form-control"
                             type="number"
                             id="numberGuests"
                             th:field="*{nbGuests}"
                             th:value="${searchCriteria.nbGuests}"
                             name="nbGuests"
                             min="1"
                             max="4"
                             required>
                      <div th:if="${#fields.hasErrors('nbGuests')}" th:errors="*{nbGuests}" class="error text-warning"></div>
                      <div id="helper" class="form-text form-label" style="color:white">(Maximum: 4 total guests/room)</div>
<!--                      <div id="invalidGuests" class="invalid-feedback">-->
<!--                        Invalid Guests Number-->
<!--                      </div>-->
                    </div>
                  </div>
                  <div class="row">
                    <div class="d-grid mt-3 col-6 mx-auto">
                      <button id="submit" type="submit" class="btn btn-primary">
                        Check Availability
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="products">
      <div class="container">
        <h3 class="fs-1 text-center my-5">
          <span class="icon"><img th:src="@{/images/logo.png}" alt="" /></span
          >Voyaging
        </h3>
        <div>
          <p>
            Great location for sightseeing, recreation, dining, and getting
            around.
          </p>
          <h4 class="m-3">Property Amenities</h4>
          <div class="row">
            <div class="col text-center">
              <span class="me-2"><i class="bi bi-p-square-fill"></i></span
              ><span>Free parking </span>
            </div>
            <div class="col text-center">
              <span class="me-2"><i class="bi bi-wifi"></i></span
              ><span>High spead Internet</span>
            </div>
            <div class="col text-center">
              <span class="me-2"><i class="bi bi-heart-pulse-fill"></i></span
              ><span>Workout Room</span>
            </div>
            <div class="col text-center">
              <span class="me-2"><i class="bi bi-scooter"></i></span
              ><span>Children Acitivities</span>
            </div>
            <div class="col text-center">
              <span class="me-2"><i class="bi bi-stars"></i></span
              ><span>Laundry Service</span>
            </div>
          </div>
        </div>

        <h4 class="m-3">Activities we offer</h4>
      </div>
      <div class="container">
        <div class="card-group">
          <div class="card col-md-4 mx-3">
            <img
              th:src="@{/images/sidi-bousaid2.jpg}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Guided Tours</h5>
              <p class="card-text">
                Priate guided tours which cover the seaside villages and UNESCO
                World Heritage sites. Tours include a tasty local lunch along
                the coast.
              </p>
            </div>

          </div>
          <div class="card col-md-4 mx-3">
            <img
              th:src="@{/images/restaurant.jpg}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Gourmet Restaurant</h5>
              <p class="card-text">
                The restaurant offers traditional cuisine prepared to the
                highest standards. Set in a beautifully-restored, traditional
                style house offers a glimpse of the old-fashioned art of living
                and dining.
              </p>
            </div>

          </div>

          <div class="card col-md-4 mx-3">
            <img
              th:src="@{/images/spa.jpg}"
              class="card-img-top"
              alt="pool"
            />
            <div class="card-body">
              <h5 class="card-title">Spa</h5>
              <p class="card-text">
                Spa is the perfect destination for relaxing and rejuvenating.
              </p>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section class="footer my-5">
      <footer class="flex-shrink-0 py-4 bg-light">
        <div class="container text-center">
          <small>Copyright &copy; Voyaging</small>
        </div>
      </footer>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
