<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Voyaging</title>

  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <script th:src="@{/scripts/script.js}" defer></script>
</head>

<body>
<div th:replace="~{fragments/user-header :: header}"></div>
<div class="container">


    <main>
      <div class="wrapper bg-white" style="max-width: 500px">
        <img
          class="mb-4"
          th:src="@{/images/logo.png}"
          alt=""
          width="72"
          height="57"
        />
        <div class="text-muted text-center pt-2">
          <h4>Sign In</h4>
        </div>
        <form class="pt-3" th:action="@{/login}" method="post">
          <div class="form-floating">
            <input
              type="email"
              name="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <br />
          <div class="form-floating">
            <input
              type="password"
              name="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <br />

          <button class="w-100 btn btn-lg btn-primary" type="submit">
            Sign in
          </button>

          <div class="text-center pt-3 text-muted">
            Not a member? <a th:href="@{/customer/signup}">Join Us</a>
          </div>
        </form>
      </div>

    </main>
</div>
    <section class="footer my-5">
      <footer class="flex-shrink-0 py-4 bg-light">
        <div class="container text-center">
          <small>Copyright &copy; Voyaging</small>
        </div>
      </footer>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
