<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Voyaging</title>

  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <script th:src="@{/scripts/script.js}" defer></script>
</head>

<body>
<div th:replace="~{fragments/user-header :: header}"></div>

    <div class="container">
      <div class="wrapper bg-white" style="max-width: 900px">
        <img
          class="mb-4"
          th:src="@{/images/logo.png}"
          alt=""
          width="72"
          height="57"
        />

        <div class="text-muted text-center pt-2">
          <h4>Guest Information</h4>
        </div>
        <div class="container">
          <form
              th:action="@{/customer/handlesignup}"
              th:object="${customer}"
              method="post" >


                <div class="row g-3">
                  <div class="col-sm-6">
                    <label for="firstName" class="form-label"
                    >First name</label
                    >
                    <input
                            type="text"
                            class="form-control"
                            id="firstName"
                            name="firstName"
                            th:field="*{firstName}"
                            th:value="${customer.firstName}"
                    />
                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error text-warning"></div>


                  </div>

                  <div class="col-sm-6">
                    <label for="lastName" class="form-label"
                    >Last name</label
                    >
                    <input
                            type="text"
                            class="form-control"
                            id="lastName"
                            name="lastName"
                            th:field="*{lastName}"
                            th:value="${customer.lastName}"


                    />
                 <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error text-warning"></div>

                  </div>

                  <div class="col-6">
                    <label for="email" class="form-label">Email </label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        th:field="*{email}"

                    />
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error text-warning"></div>

                  </div>
                  <div class="row">

                  <div class="col-6">
                    <label for="password" class="form-label"
                    >Password
                    </label>
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            th:field="*{password}"
                            placeholder=""
                            value=""

                    />
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error text-warning"></div>

                  </div>
                  <div class="col-6">
                    <label for="confirm-password" class="form-label"
                    >Confirm password
                    </label>
                    <input
                            type="password"
                            class="form-control"
                            id="confirm-password"
                            name="confirmPassword"
                            th:field="*{confirmPassword}"
                            placeholder=""
                            value=""

                    />
                    <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error text-warning"></div>

                  </div>
                  </div>
                  <div th:object="${address}">
                    <div class="col-6">
                      <label for="phone" class="form-label">Phone </label>
                      <input
                              type="text"
                              class="form-control"
                              id="phone"
                              name="phone"
                              th:field="*{phone}"
                              placeholder=""
                              value=""

                      />
                      <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error text-warning"></div>


                    </div>
                    <div class="col-12">
                      <label for="street" class="form-label"
                      >Address</label
                      >
                      <input
                              type="text"
                              class="form-control"
                              id="street"
                              name="street"
                              th:field="*{street}"
                              placeholder=""

                      />
                      <div th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="error text-warning"></div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <label for="street" class="form-label"
                        >City</label
                        >
                        <input
                                type="text"
                                class="form-control"
                                id="city"
                                name="city"
                                th:field="*{city}"
                                placeholder=""

                        />
                        <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error text-warning"></div>

                      </div>
                      <div class="col-md-6">
                        <label for="country" class="form-label"
                        >Country/Region</label
                        >
                        <select
                                class="form-select"
                                id="country"
                                name="country"
                                th:field="*{country}"
                        >
                          <option value="">Choose...</option>
                          <option value="usa">United States</option>
                        </select>
                        <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="error text-warning"></div>

                        <div class="invalid-feedback">
                          Please select a valid country.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label for="zipCode" class="form-label">Zip code</label>
                      <input
                              type="text"
                              class="form-control"
                              id="zipCode"
                              name="zipCode"
                              th:field="*{zipCode}"
                              placeholder=""
                              required
                      />
                      <div th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" class="error text-warning"></div>

                      <div class="invalid-feedback">
                        Zip code required.
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="my-4" />

                <h4 class="mb-3">Payment</h4>
                <div th:object="${creditCard}">
                  <div class="row gy-3">
                    <div class="col-md-6">
                      <label for="cardholderName" class="form-label"
                      >Name on card</label
                      >
                      <input
                              type="text"
                              class="form-control"
                              id="cardholderName"
                              name="cardholderName"
                              th:field="*{cardholderName}"
                              placeholder=""
                              required
                      />
                      <div th:if="${#fields.hasErrors('cardholderName')}" th:errors="*{cardholderName}" class="error text-warning"></div>

                      <small class="text-muted"
                      >Full name as displayed on card</small
                      >
                      <div class="invalid-feedback">
                        Name on card is required
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label for="cardNumber" class="form-label"
                      >Credit card number</label
                      >
                      <input
                              type="text"
                              class="form-control"
                              id="cardNumber"
                              name="cardNumber"
                              th:field="*{cardNumber}"
                              placeholder=""
                              required
                      />
                      <div th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}" class="error text-warning"></div>

                      <div class="invalid-feedback">
                        Credit card number is required
                      </div>
                    </div>

                    <div class="col-md-3">
                      <label for="month-expiration" class="form-label"
                      >Month</label
                      >
                      <select
                              class="form-select"
                              id="month-expiration"
                              name="monthExpiration"

                              th:field="*{monthExpiration}"
                              onclick="populateMonths()"
                              aria-label=""
                              required
                      >
                        <option  value="">Select month</option>
                        <option th:if="${creditCard.monthExpiration}" th:value="${creditCard.monthExpiration}" th:utext="${creditCard.monthExpiration}"/>
                      </select>
                      <div th:if="${#fields.hasErrors('monthExpiration')}" th:errors="*{monthExpiration}" class="error text-warning"></div>

                    </div>
                    <div class="col-md-3">
                      <label for="year-expiration" class="form-label"
                      >Year</label
                      >
                      <select
                              class="form-select"
                              id="year-expiration"
                              name="yearExpiration"
                              th:field="*{yearExpiration}"
                              onclick="populateYears()"
                              aria-label=""
                              required
                      >
                        <option  value="">Select year</option>
                        <option  th:if="${creditCard.yearExpiration}" th:value="${creditCard.yearExpiration}" th:utext="${creditCard.yearExpiration}"/>
                      </select>
                      <div th:if="${#fields.hasErrors('yearExpiration')}" th:errors="*{yearExpiration}" class="error text-warning"></div>

                    </div>
                  </div>
                </div>

                <br />

          <button
            class="btn btn-primary me-0"
            style="width: 100px"
            type="submit"
          >
            Sign in
          </button>

          <div class="text-center pt-3 text-muted">
            Already a member? <a href="@{/login}">Sign In</a>
          </div>
        </form>
      </div>
      </div>
    </div>
    <section class="footer my-5">
      <footer class="flex-shrink-0 py-4 bg-light">
        <div class="container text-center">
          <small>Copyright &copy; Voyaging</small>
        </div>
      </footer>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"


    ></script>
<script>
       function populateMonths() {
        const monthSelect = document.getElementById("month-expiration");
        const months = [
          "01  Jan",
          "02  Feb",
          "03  Mar",
          "04  Apr",
          "05  May",
          "06  Jun",
          "07  Jul",
          "08  Aug",
          "09  Sep",
          "10  Oct",
          "11  Nov",
          "12  Dec",
        ];
        for (let i = 0; i < months.length; i++) {
          const option = document.createElement("option");
          option.textContent = months[i];
          option.value = i + 1;
          monthSelect.appendChild(option);
        }
      }
      function populateYears() {
        const yearSelect = document.getElementById("year-expiration");
        let year = new Date().getFullYear();

        for (let i = 0; i < 10; i++) {
          const option = document.createElement("option");
          option.textContent = year + i;
          option.value = year + i;
          yearSelect.appendChild(option);
        }
     }

    </script>
  </body>
</html>
